#header{
    background-color: var(--color-background);
    color: var(--color-text);
    font-weight: 700;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#header h1{
    color: var(--color-text-altern);
    font-size: clamp(1rem, 5vw, 7rem);
    font-weight: 700;
    
}

#header {
    display: flex; 
    justify-content: space-between; /*Ordena los elementos horizontalmente*/
    align-items: center; /*Ordena los elementos verticalmente*/
    flex-wrap: wrap;
    row-gap: 1rem;
    padding: 1rem 20px;
}

nav{
    display: flex;
    gap: 2rem;
}

nav a{
    text-decoration: none;
    font-size: clamp(0.8rem, 1vw, 3rem);
    color: var(--color-text-altern);
    transition: color 0.5s;
    position: relative;
}

nav a:hover{ /*Pseudo-Clase*/
    color: var(--color-text-hover);
}

nav a::after{ /*PseudoElemento*/
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--color-text-hover);
    transition: width 0.5s;
}

nav a:hover::after{
    width: 100%;
}

.nav-link i {
  margin-right: 0.5rem;
  color: var(--color-text-altern); /* o el que prefieras */
  font-size: 1rem; /* puedes ajustar según el tamaño del texto */
  vertical-align: middle;
}